* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* utility class */
.container {
  width: 70%;
  margin: auto;
}

#site-header {
  height: 400px;
  background: ;
  background-image: url();
}

#site-main {
  height: 500px;
  background: yellow;
}

#site-footer {
  height: 800px;
  background: grey;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.w_50 {
  width: 50%;
}

.text_a_r {
  text-align: right;

}

.border_r {
    border-right: 2px solid grey;
}

.padding_10 {
  padding: 10px;
}

.btn {
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn_general {
  background: #FC927A;
  color: white;
  border: none;
  border: 2px solid #FC927A;
}

.btn_general:hover {
  background: rgba(252,146,122,0.8);
}

.font_size_16 {
  font-size: 16px;
}
/* color utility */

.bg_lightblue {
  background: #F4F9FD;
}

.bg_white {
  background: white;
}
/* /color utility */


/* /utility class */
/* HEADER */


/* nav_top */

.navbar {
  width: 100%;
  overflow: hidden;
  line-height: 5;
  font-weight: 400;
  font-size: 16px;
}
/* nav_top_left */

.nav_top {
  width: 70%;
  margin: auto;
}

.nav_top_left a {
  padding: 0 20px;
}

.nav_top_left a {
    color: #32495b;
}

/* /nav_top_left */

/* nav_top_right */
.nav_top_right {

}

.nav_top_right a {
  padding: 0 10px;
}

.nav_top_right i {
color: #00A4BD;
}

.btn_login {
  background: transparent;
  color:  #FC927A;
  border: 2px solid #FC927A;
  font-size: 16px;
}
/* /nav_top_right */

/* /nav_top */
/* nav_bottom */
.nav_bottom {
  width: 70%;
  margin: auto;
}

.nav_bottom_left{

}

.nav_bottom_right {
}

/* /nav_bottom */
/* jumbotron */
.jumbotron_text {
  border: 1px solid black;
}

/* RICORDATI CHE L'IMMAGINE VA ASSEGNATA DI BACKGROUND AL SITE HEADER */
/* /jumbotron */
/* jumbotron_bottom */
.jumbotron_bottom {
  border: 1px solid black;
}

/* /jumbotron_bottom */
/* /HEADER */
/* MAIN */
/* services */
/* top_services */
.top_services {
  width: 60%;
  margin: auto;
  border:1px solid black;
}

/* /top_services */
/* middle_services */
.middle_services {
  width: 100%;
  border:1px solid black;
}

/* /middle_services */
/* bottom_services */
.col-4 {
  width: 33.333%;
  border:1px solid black;
}

.card {
  width: 80%;
}

/* /bottom_services */
/* /services */


/* community */

/* top_community */
.top_community {
  width: 80%;
  margin: auto;
}
/* /top_community */


/* middle_community */

.middle_community {
  /* width: 100%; */
}
/* /middle_community */


/* bottom_community */
.col-3 {
  width: 25%;
  border:1px solid black;
}
/* /bottom_community */

/* /community */




/* testimonials */

/* top_testimonials */
 .top_testimonials_left {
   width: 35%;
 }

 .top_testimonials_right {
   width: 65%;
 }
/* /top_testimonials */

/* bottom_testimonials */
.bottom_testimonials_left {

}
.bottom_testimonials_right {

}
/* /bottom_testimonials */

/* /testimonials */
/* /MAIN */
/* FOOTER */
/* top footer */
.footer_top {
  width: 100%;
  text-align: right;
  border:1px solid black;
}
/* /top footer */

/* middle_footer */
.middle_footer {
  margin: auto;
  border:1px solid black;
  text-align: center;
}
/* /middle_footer */

/* bottom_footer */
.bottom_footer {
width: 100%;
}

.bottom_left_footer {
  border:1px solid black;
}
.bottom_right_footer {
  width: 50%;
  border:1px solid black;
}
/* /bottom_footer */
/* /FOOTER */
