* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* utility class */

/* /utility class */



/* HEADER */
/* nav_top */

/* /nav_top */


/* nav_bottom */

/* /nav_bottom */


/* jumbotron */

/* /jumbotron */

/* /HEADER */




/* MAIN */

/* services */
/* /services */

/* community */
/* /community */


/* testimonials */
/* /testimonials */


/* /MAIN */




/* FOOTER */


/* /FOOTER */
