* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* utility class */
.container {
  width: 75%;
  margin: auto;
}

#site-header {
  height: 400px;
  background: green;
  background-image: url();
}

#site-main {
  height: 500px;
  background: yellow;
}

#site-footer {
  height: 800px;
  background: grey;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

/* /utility class */
/* HEADER */
/* nav_top */
.nav_top div {
  width: 50%;
  background: purple;
  border: 1px solid black;
}

.nav_top_right {
  text-align: right;
  border: 1px solid black;
}

/* /nav_top */
/* nav_bottom */
.nav_bottom div {
  width: 50%;
  background: red;
  border: 1px solid black;
}

.nav_bottom_right {
  text-align: right;
  border: 1px solid black;
}

/* /nav_bottom */
/* jumbotron */
.jumbotron_text {
  width: 50%;
  border: 1px solid black;
}

/* RICORDATI CHE L'IMMAGINE VA ASSEGNATA DI BACKGROUND AL SITE HEADER */
/* /jumbotron */
/* jumbotron_bottom */
.jumbotron_bottom {
  border: 1px solid black;
}

/* /jumbotron_bottom */
/* /HEADER */
/* MAIN */
/* services */
/* top_services */
.top_services {
  width: 60%;
  margin: auto;
  border:1px solid black;
}

/* /top_services */
/* middle_services */
.middle_services {
  width: 100%;
  border:1px solid black;
}

/* /middle_services */
/* bottom_services */
.col-4 {
  width: 33.333%;
  border:1px solid black;
}

.card {
  width: 80%;
}

/* /bottom_services */
/* /services */


/* community */

/* top_community */
.top_community {
  width: 80%;
  margin: auto;
}
/* /top_community */


/* middle_community */

.middle_community {
  /* width: 100%; */
}
/* /middle_community */


/* bottom_community */
.col-3 {
  width: 25%;
  border:1px solid black;
}
/* /bottom_community */

/* /community */




/* testimonials */

/* top_testimonials */
 .top_testimonials_left {
   width: 35%;
 }

 .top_testimonials_right {
   width: 65%;
 }
/* /top_testimonials */

/* bottom_testimonials */
.bottom_testimonials_left {
  width: 50%;
}
.bottom_testimonials_right {
  width: 50%;
}
/* /bottom_testimonials */

/* /testimonials */
/* /MAIN */
/* FOOTER */
/* top footer */
.footer_top {
  width: 100%;
  text-align: right;
  border:1px solid black;
}
/* /top footer */

/* middle_footer */
.middle_footer {
  width: 50%;
  margin: auto;
  border:1px solid black;
  text-align: center;
}
/* /middle_footer */

/* bottom_footer */
.bottom_footer {
width: 100%;
}

.bottom_left_footer {
  width: 50%;
  border:1px solid black;
}
.bottom_right_footer {
  width: 50%;
  border:1px solid black;
}
/* /bottom_footer */
/* /FOOTER */
